ul {
    list-style-type: none;
}
.post-overview {
    display: grid;
    grid-template-columns: 200px 120px 120px 150px 200px 50px;
  }

.image {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #000;
    object-fit: scale-down;
}

span {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
  }